
SpawnMenuToolbar
{
	width: 100%;
	border-radius: 8px 8px 0 0;
	z-index: 100;
	padding: 8px;
	gap: 0.5rem;
	font-size: 1.2rem;
	font-family: Poppins;
	font-weight: 600;
}

.iconsize
{
	font-size: 24px;
	cursor: pointer;
}

.body, .left, .right
{
	gap: 0.5rem;
}

.islandbg
{
	background-color: #0004;
	border-radius: 4px;
}

.body
{
	flex-grow: 1;
}

Button
{
	font-size: 1.8rem;
	cursor: pointer;

	&.disabled
	{
		color: #aaa;
		opacity: 0.3;
		cursor: default;
		pointer-events: none;
	}

	&:hover
	{
		color: white;
	}
}