
SpawnMenuContent
{
	width: 100%;
	height: 100%;
	flex-direction: column;
	position: relative;
}

SpawnMenuContent > .header
{
	flex-direction: column;
	display: none;
}

SpawnMenuContent > .body
{
	position: relative;
	flex-grow: 1;
}

SpawnMenuContent > .body .cell:hover
{
	color: white;
	sound-in: ui.button.over;
}
